subscription_id                 = "00000000-0000-0000-0000-000000000000"
location                        = "southeastasia"
resource_group_name             = "voice-ai-agent-rg"
prefix                          = "voiceai"
ai_services_account_name        = "your-ai-services-account"
ai_services_resource_group_name = "your-ai-services-resource-group"
openai_deployment_name          = "your-model-deployment-name"
tts_voice                       = "en-US-AndrewNeural"
unattended                      = "false"
app_sku                         = "B2"
