location               = "southeastasia"
resource_group_name    = "voice-ai-agent-rg"
prefix                 = "voiceai"
openai_deployment_name = "gpt-4o-mini"
openai_model_name      = "gpt-4o-mini"
openai_model_version   = "2024-07-18"
tts_voice              = "en-US-AndrewNeural"
unattended             = "false"
app_sku                = "B2"
